/* ================= GLOBAL RESET ================= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Mulish", sans-serif;
}

/* ================= HEADER SECTION ================= */

.MainHeader{
  background:#f8f6f6;
  
}

/* container */

.container{
  max-width:1443px;
  margin:auto;
  padding:0 20px;
}

/* ================= HEADER TOP ================= */

.HeaderTop{
  background:#f8f6f6;
}

.MainHeaderTop{
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding:8px 20px;
  position: relative;
}

/* left */

.MainHeaderleft{
  display:flex;
  align-items:center;
  gap:20px;
}

.MainHeaderleft h5 span{
  border:1px solid black;
  padding:3px;
  border-radius:50%;
}

.MainHeaderleft button{
  background:white;
  border:none;
  border-radius:20px;
  padding:6px 12px;
  display:flex;
  align-items:center;
  gap:5px;
  cursor:pointer;
  box-shadow:0 2px 5px rgba(0,0,0,0.1);
}

.MainHeaderleft button span{
  width:8px;
  height:8px;
  background:limegreen;
  border-radius:50%;
}

/* right */

.MainHeaderRight{
  padding-left:500px ;
  
}

.HeaderLinks{
  display:flex;
  gap:30px;
}

.HeaderLinks a{
  text-decoration:none;
  color:black;
  font-size:14px;
}

/* ================= HEADER BOTTOM ================= */

.HeaderBottom{
  background:linear-gradient(#f17d01,#ae2120);
}

.BotttomContainer{
  max-width:1443px;
  margin:auto;
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding:10px 20px;
}

.HeaderBottomlogo img{
  height:40px;
}

.HeaderBottomlinks{
  display:flex;
  gap:20px;
}

.HeaderBottomlinks a{
  color:white;
  text-decoration:none;
  font-size:15px;
}

.HeaderBottombtn button{
  background:transparent;
  border:none;
  color:white;
  font-size:16px;
  cursor:pointer;
}

/* ================= HERO SECTION ================= */

.HeroSection {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  position: relative;
}

.MainContainer {
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: center;
  width: 1443px;
  height: 492px;
}

.CarContainer {
  display: flex;
}

.headingConatiner h2 {
  font-size: 48px;
  font-weight: 900;
  padding-bottom: 18px;
  color: #282828;
}

.headingConatiner p {
  font-size: 28px;
  font-weight: 600;
}

.headingConatiner .sm {
  font-size: 12px;
  color: #6c6c6c;
}

.Line {
  padding-bottom: 20px;
}

/* Feature Boxes */

.headingConatiner2 {
  position: relative;
  padding-bottom: 10px;
}

.headingConatiner2 .Repairs {
  position: absolute;
  top: 14px;
  left: 14px;
}

.headingConatiner2 p {
  position: absolute;
  top: 20px;
  left: 70px;
  font-size: 16px;
}

.headingConatiner2 .new {
  position: absolute;
  top: 24px;
  left: 280px;
}

/* Car Image */

.CarContainer2 {
  position: relative;
  display: flex;
}

.car {
  position: absolute;
  top: -320px;
  right: 495px;
  z-index: -1000px;
}

/* Form */

.form {
  position: relative;
}

.FormContainer {
  position: absolute;
  top: -420px;
  right: 20px;
}

.FormContainer {
  max-width: 425px;
  height: 448px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formpolicycontainer {
  width: 367px;
  height: 44px;
  background-color: #fff2eb;
  padding: 11px 73px;
  border-radius: 0px 0px 15px 15px;
}
.formpolicycontainer h5 a {
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  color: #ec6625;
}

.quote-form {
  width: 400px;
  padding: 40px;
  border-radius: 12px;
  border: 1px solid #d8d8d8;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

/* Inputs */

.quote-form input[type="text"],
.quote-form input[type="email"] {
  padding: 15px 21px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 16px;
  outline: none;
  width: 300px;
  margin-bottom: 30px;
}

/* Button */

.quote-btn {
  width: 300px;
  height: 50px;
  background: #f56600;
  border: none;
  color: white;
  font-size: 20px;
  padding: 16px;
  border-radius: 8px;
  cursor: pointer;
}

/* Retrieve link */

.retrieve {
  color: #f56600;
  text-decoration: underline;
  font-size: 16px;
}

/* Terms */

.terms {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 15px;
}

.terms a {
  color: #333;
  text-decoration: underline;

}

/* ================= CUSTOMER SECTION ================= */

.OurCustomerSection {
  background-color: #f8f6f6;
  padding-top: 43px;
  padding-bottom: 50px;
}

.OurCustomerSectionMain {
  max-width: 1443px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.section2main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

/* Customer Heading */

.OurCustomerSectionHeading {
  text-align: center;
  width: 580px;
  height: 75px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.OurCustomerSectionHeading h2 {
  font-size: 36px;
  font-weight: 700;
}

.OurCustomerSectionHeading p {
  font-size: 16px;
  font-weight: 400;
}

/* Customer Icons */

.ThreeConatiner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

 .iconbox {
  background-color: white;
  padding: 25px 30px;
  border-radius: 10px;
}
.iconbox:hover{
    box-shadow: 0 8px 20px rgba(171, 171, 171, 0.15);

}

/* ================= CAR INSURANCE INFO SECTION ================= */

.section3main {
  max-width: 1443px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 395px;
  gap: 30px;
}

/* Car Image */

.carimgsection {
  width: 450px;
  height: 261px;
}

/* Car Insurance Content */

.carcontentsection {
  width: 743px;
  height: 281px;
  gap: 20px;
  display: flex;
  flex-direction: column;
}

.carcontentsection h2 {
  font-size: 36px;
  font-weight: 700;
}

.carcontentsection p {
  line-height: 24px;
  font-size: 16px;
  font-weight: 400;
}

/* ================= CAR INSURANCE POLICIES SECTION ================= */

.carinsurancepolicies {
  background-color: #fff2eb;
}

/* Main Container */

.carinsurancepoliciesmain {
  max-width: 1443px;
  height: 565px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Section Heading */

.carinsurancepoliciesmain h2 {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
}

/* Insurance Container */

.insurancecontainer {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

/* Content Row (Icons + Card) */

.insurancecontainerpara {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

/* Main Policy Card */

.carmaincontent {
  background-color: white;
  display: flex;
  flex-direction: row;
  width: 1104px;
  height: 365px;
  justify-content: center;
  align-items: center;
  padding: 50px;
  gap: 48px;
  border-radius: 10px;
}

/* Insurance Text Content */

.insurancecontent {
  display: flex;
  flex-direction: column;
  width: 760px;
  height: 285px;
  gap: 5px;
}

/* Policy Title */

.insurancecontent h4 {
  font-size: 20px;
}

/* Policy Description */

.insurancecontent p {
  font-size: 16px;
  line-height: 24px;
}

.tablesectionmain {
  max-width: 1443px;
  height: 750px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.toptablesection {
  width: 993px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  height: 704px;
}
.toptablesection h2 {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
}
.Maintable {
  display: flex;
  width: 883px;
  height: 387px;
  gap: 5px;
  margin-bottom: 50px;
}
.bottomtablesection {
  width: 878px;
  padding-bottom: 30px;
}

.lefttable {
  width: 430px;
  height: 388px;
}

.lefttable :thirdchild {
  width: 430px;
  height: 388px;
}
.lefttable h4 {
  padding: 20px;
  background-color: #e1e0d1;
  border-radius: 10px 0px 0px 0px;
}
.lefttable p {
  padding: 20px;
  font-size: 16px;
  background-color: #f5f6f6;
}

.lefttable p:nth-of-type(2) {
  padding: 20px;
  background-color: white;
}

.lefttable p:nth-of-type(4) {
  padding: 20px;
  background-color: white;
}

.righttable {
  width: 430px;
  height: 388px;
  border-radius: 10px;
}
.righttable h4 {
  padding: 20px;
  background-color: #e1e0d1;
  border-radius: 0px 10px 0px 0px;
}
.righttable p {
  font-size: 16px;
  padding: 20px;
  background-color: #f5f6f6;
}
.righttable p:nth-of-type(2) {
  padding: 20px;
  background-color: white;
}

.righttable p:nth-of-type(4) {
  padding: 20px;
  background-color: white;
}

.section6 {
  background-color: #00305b;
}

.blocks {
  max-width: 1443px;
  height: 883px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.blocks h2 {
  font-size: 36px;
  font-weight: 700;
  width: 1330px;
  color: white;
  text-align: center;
}
.blocks p {
  width: 1330px;
  color: white;
}
.blockcontainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.box {
  width: 426px;
  height: 280px;
  border: 1px solid #065e9e;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  padding: 40px;
}

.box1 {
  width: 367px;
  height: 132px;
  display: flex;

  gap: 25px;
}

.box1 img {
  width: 27px;
  height: 35px;
}

.boxcontent {
  width: 315px;
  height: 132px;
}
.boxcontent h3 {
  width: 315px;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: white;
  padding-bottom: 10px;
}
.boxcontent p {
  width: 315px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.section7 {
  margin: 50px 0px;
  background-color: #f8f6f6;
}
.inclusionSection {
  max-width: 1443px;
  height: 604px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inclusionSection h2 {
  font-size: 36px;
  font-weight: 700;
}

.Inclusions_Exclusions{
  width: 1330px;
  height: 47px;
  border-bottom: 1px solid #c9c9c9;
  display: flex;
  gap: 1px;
}

.inclusion {
  width: 136px;
  height: 46px;
  color: #ec6625;
  border-bottom: 2px solid #ec6625;
  text-align: center;
}

.inclusion h5 {
  font-size: 16px;
  font-weight: 700;
}

.Exclusions h5 {
  font-size: 16px;
  font-weight: 700;
}

.Exclusions {
  width: 136px;
  height: 46px;
  color: #838383;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
}

.inclusionContent {
  width: 1260px;
  height: 216px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  margin: 20px 0px;
}
.inclusionContent h5 {
  font-size: 16px;
}
.pointerboxs {
  display: flex;
  gap: 90px;
}
.points {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.points p {
  font-size: 16px;
  align-items: center;
}
.points p img {
  padding-right: 15px;
  align-items: center;
}

.documnets {
  display: flex;
  gap: 30px;
  width: 1330px;
  height: 61px;
  padding-top: 40px;
  border-top: 1px solid #c9c9c9;
}

.documnets h5 {
  font-size: 16px;
  font-weight: 700;
  color: #434343;
}

.documnets a {
  color: #f56600;
}

.tabs{
  background-color: #F8F6F6;
  margin: 50px 0px;
}
.maintabs {
  max-width: 1443px;
  height: 630px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 70px
}
.maintabs h2{
  font-size: 36px;
  font-weight: 700;
}

.fourtabs{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 26px;
}
.tab1{
  width: 652px;
  height: 187px;
  padding: 26px 30px;
  background-color: white;
  border-radius: 10px;

}

.tab1:hover{
  box-shadow: 0 8px 20px rgba(171, 171, 171, 0.15);
}


.calculated{
  max-width: 1443px;
  height: 800px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 70px;
}

.calculated h2{
  font-size: 36px;
  font-weight: 700;
}

.twocompontents{
  display: flex;
  flex-wrap: wrap;
  width: 1282px;
  gap: 50px;
}
.compontent1{
 display: flex;
 width: 598px;
 flex-direction: column;
 gap: 29px;
}
.compontent1 h5{
  font-size: 18px;
  font-weight: 700;text-align: center;
}
.point1{
  display: flex;
  gap: 29px;
}
.point1 img{
  width: 18px;
  height: 32px;
}
.point1 p{
    line-height: 27px;
    font-size: 16px;
}
.compontent2{
 display: flex;
 width: 598px;
 flex-direction: column;
 gap: 29px;
}

.compontent2 h5{
  font-size: 18px;
  font-weight: 700;
}
.section9{
 background-color:#F8F6F6 ;
}

.questions{
  max-width: 1443px;
  height: 1580px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 70px;
}

.questions h2{
  margin-top: 50px;
  font-size: 36px;
  font-weight: 700;
}

.headline{
  width: 878px;
  height: 47px;
  border-bottom: 1px solid #c9c9c9;
  display: flex;
  gap: 1px;
}
.commonquestion{
  width: 829px;
  height: 1119px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.question1{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.question1 h4{
  font-size: 16px;
    font-weight: 700;
}
.question1 p{
  font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #282828;
}

.tab{
  padding:10px 20px;
  cursor:pointer;
}

.tab.active{
  border-bottom:2px solid #ec6625;
  color:#ec6625;
}

.tabcontent{
  display:none;
}

.tabcontent.active{
  display:block;
}

.section12{
  background-color: #00305b;
}

.carlistsection{
  width: 1443px;
  height: 381px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 26px;
}

.carlistsection h2{
  margin-top: 50px;
  font-size: 36px;
  font-weight: 700;
  color: white;
  margin-bottom: 40px;
}
.carlist{
  width: 1330px;
  height: 78px;
  display: flex;
  align-items: center;
  gap: 26px;
}
.car1{
  background-color: white;
  width: 313px;
  height: 78px;
  padding: 10px 20px;
  gap: 10px;
  border-radius: 10px;
}

.ratingreview{
  width: 1443px;  
  height: 700px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}


.ratingreview h2{
  font-size: 36px;
  font-weight: 700;
}

.review{
  display: flex;
  gap: 40px;
}

.rating{
  display: flex;
  gap: 20px;
}

.rating h3{
  font-size: 30px;
  font-weight: 400;
}

.ratedus{
  display: flex;
  flex-direction: column;
}

.ratedus h5{
  font-size: 16px;
  font-weight: 700;
}

.testimonials{
  width: 1069px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 49px;
  
}

.comment{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.comment1{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.quote{
  display: flex;
  justify-content: end;
}

.name{
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.name h5{
  font-size: 16px;
  font-weight: 700;
}

 .reviewbtn{
  width: 173px;
  height: 48px;
  background-color: transparent;
  color: #EC6625;
  border-radius: 10px;
  border-color: #EC6625;
}

.section11{
  background-color: #f8f6f6;
  margin: 50px 0px;
}

.PopularSearches{
 width: 1443px;  
  height: 381px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}


.searches{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 8px;
}

.clicks{
  display: flex;
  gap: 5px;
}

.clicks p{
  background-color: white;
  border-radius: 15px;
  box-shadow: 2px 2px 2px rgb(233, 233, 233);
  padding: 7px 10px;
}

.section13{
  padding:40px;
  background:#f5f5f5;
}

.productcode{
  max-width:1443px;
  margin:auto;
  background:white;
  border-radius:8px;
  overflow:hidden;
  box-shadow:0 2px 8px rgba(0,0,0,0.1);
}

.productcode table{
  width:100%;
  border-collapse:collapse;
  font-family:Arial, Helvetica, sans-serif;
}

.productcode thead{
  background:#d8d4c4;
}

.productcode th{
  text-align:left;
  padding:15px;
  font-size:16px;
  font-weight:600;
}

.productcode td{
  padding:15px;
  font-size:14px;
  border-top:1px solid #e5e5e5;
}

.productcode tbody tr:nth-child(even){
  background:#f7f7f7;
}

.productcode tbody tr:hover{
  background:#efefef;
  transition:0.3s;
}

.main-footer{
  background:#e9e7e7;
  padding:50px 0;
  font-family:Arial, Helvetica, sans-serif;
}

.footer-container{
  width:1443px;
  margin:auto;
  display:flex;
  justify-content:space-between;
  gap:60px;
}

.footer-left{
  width:40%;
}

.footer-logo{
  width:180px;
  margin-bottom:20px;
}

.footer-left h4{
  font-size:16px;
  margin-bottom:10px;
}

.footer-left p{
  font-size:14px;
  color:#555;
  line-height:1.6;
}

.social-icons{
  margin-top:20px;
  display:flex;
  gap:18px;
  font-size:16px;
}

.footer-right{
  width:55%;
}

.footer-right p{
  font-size:14px;
  color:#555;
  line-height:1.7;
  margin-bottom:18px;
}

.group-company{
  margin-top:20px;
  padding-top:15px;
  border-top:1px solid #ccc;
  display:flex;
  justify-content:space-between;
  width:250px;
  cursor:pointer;
  font-size:15px;
}
